@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: "gamefont";
  src: url("../src/fonts/gamefont.ttf") format("truetype");
}

.font-gamefont {
  font-family: "gamefont", sans-serif;
  font-size: 2rem;
}

#nc-header {
  font-size: 8rem;
}

html {
  font-family: "Courier New", Courier, monospace;
}
